<link rel='stylesheet' href='../assets/css/main.css'/>

# Lab 4.4: Spark And Hive


<img src="../assets/images/spark-and-hadoop-1.png" style="border: 5px solid grey ; max-
width:100%;" />

<img src="../assets/images/spark-and-hadoop-2.png" style="border: 5px solid grey ; max-
width:100%;" />


## Step 1 : Open Two Terminal Sessions to Hadoop Node

#### This lab is to be executed on a Hadoop cluster with Hive & Spark installed

## Step 2 : In Terminal 1 : Start Hive Shell

```bash
    $   hive
```

Inspect the tables and run a query on 'clickstream' table.

```sql
  hive>
        show tables;

        select * from x_clickstream limit 10;

        select action, count(*) as total from x_clickstream group by action;
```

## Step 3 : In Terminal 2 Start Spark shell

```bash
    $    pyspark
```

Type the following in Spark Shell

Go to http://localhost:4040 in the browser.

In [ ]:
sc.setLogLevel("WARN")
print('Spark UI running on http://YOURIPADDRESS:' + sc.uiWebUrl.split(':')[2])

## Step 4 : Inspect Hive Tables
Do this in pyspark

#### spark 2

In [ ]:
## Spark 2 Catalog
from pprint import pprint

pprint(spark.catalog.listDatabases())

## TODO : change 'mydb' 
pprint(spark.catalog.listTables("mydb"))

#### Spark 1

In [ ]:
## Spark 1
sqlContext.tableNames()
## TODO : change 'mydb' accordingly
sqlContext.tableNames("mydb")

t = sqlContext.table("mydb.clickstream")
t.printSchema()
t.show()

## Step 5 : Queries
#### Spark 2

In [ ]:
## Spark 2

df = spark.sql("select * from x_clickstream limit 10")
df.printSchema()
df.show()

spark.sql("select action, count(*) as total from x_clickstream group by action").show()

## You can access your tables as  :   MYNAME_db.transactions
## If you have transaction tables setup, try the following queries
## TODO : Fix MYNAME
df = spark.sql("select * from MYNAME_db.transactions limit 10").show()
df.printSchema()

sql = """
select account_id, SUM(amount) as total 
from MYNAME_db.transactions 
group by account_id
order by total desc 
limit 10
"""
spark.sql(sql).show()

#### Spark 1

In [ ]:
sqlContext.sql("select * from x_clickstream limit 10").show()
sqlContext.sql("select action, count(*) as total from x_clickstream group by action").show()